/*   GENERAL   */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
#connexion_background {
    background: url('connexion_background.jpg') scroll no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#inscription_background {
    background: url('inscription_background.jpg') scroll no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#upload_background {
    background: url('upload_background.jpg') scroll no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#userview_background {
    background: url('ps_neutral.png') repeat scroll;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
    margin-top: 0px;
}

input {
    outline: none;
}

a.button {
        display: block;
        text-decoration: none;
        padding: 12px;
        margin: 15px auto;
        background: #dd8360;
	color: #FFFFFF;
        border-radius: 2px;
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}


/*   HEADER ET MENU   */
header {
    height: 60px;
    width: 100%;
}  

nav {
    z-index: 10;
    position: fixed; 
    width: 100vw;
    font-weight: 500;
    padding-top: 15px;
    transition: background ease 0.25s;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: -45px;
}

nav li {
    margin-right: 40px;
    position: relative;
    top: 5px;
} 

nav li a { 
    text-decoration: none;
    font-size: 15px;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
} 

nav li a:visited{
    color: #FFFFFF;
} 

nav li a:hover{
    color: #dd8360;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}  

nav li a:active{
    color: #E58A5C;
}

nav a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav a:hover:after {
    width: 100%;
    background: #f9bdac;
}

a:visited {
    text-decoration: none;
    color: white;
}

.upload > i {
    position: relative;
    top: 5px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed 9px center;
    border: solid 1px #ccc;
    padding: 6px 10px 6px 10px;
    width: 85px;
    -webkit-box-sizing: content-box;
    font-size: 100%;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 110px;
    background-color: #fff;
    border-color: #F8B18F;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#recherche_form {
    margin-left: 15px;
}

#recherche_form > button[type="submit"] {
    height: 36px;
    width: 36px;
    position: relative;
    top: -2.5px;
    left: 5px;
    background: none;
    color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    transition: color 0.5s, background 0.5s;
}

#recherche_form > button[type="submit"] > i.material-icons {
    position: relative;
    top: 6px;
    left: -2px;
}

#recherche_form > button[type="submit"]:hover {
    background: #FFFFFF;
    color: #333333;
    transition: color 0.5s, background 0.5s;
}

#recherche_form > button[type="submit"]:focus {
    outline: none;
}
