form a {
	display: block;
	margin-bottom: 15px;
}

.form {
    min-width: 400px;
    width: 60vw;
    margin: 50px auto;
    text-align: center;
    position: relative;
    top: -30px;
}

.form fieldset {
    background: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

.form fieldset label {
    display: block;
    text-align: left;
    margin: 0 0 3px 10px;
}

.form input, .form textarea, #upload-label {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #2C3E50;
    font-size: 13px;
}

#desactiver {
    background-color: #CA3535;
    max-width: 185px;
    margin: 20px auto 0 auto;
}

#modif_avatar {
    margin: 20px auto;
    width: 230px;
}

#file-upload {
	position: relative;
}

#image {
	z-index: 2;
	opacity: 0;
}

#upload-label {
	background: #375975;
	color: #FFFFFF;
	font-size: 18px;
	position: absolute;
	top: 0;
    	height: 53px;
    	width: 100%;
    	text-align: center;
	margin: 0;
	padding: 13px;
	cursor: pointer;
}

.filepath {
	margin-top: 0;
	text-align: center;
}
