html, body {
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    width: 100%;
}

nav {
    position: fixed;
    width: 100vw;
    font-weight: 500;
    margin-top: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    margin-top: -45px;
}

nav li {
    margin-right: 40px;
}

nav li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #FFFFFF;
}

nav li a:visited{
    color: #FFFFFF;
}

nav li a:hover{
    color: #dd8360;
    text-decoration: none;
}

nav li a:active{
    color: #E58A5C;
}

a {
    position: relative;
    color: white;
}

nav a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav a:hover:after {
    width: 100%;
    background: white;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.upload > i {
    position: relative;
    top: 5px;
}

input {
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed 9px center;
    border: solid 1px #ccc;
    padding: 6px 10px 6px 10px;
    width: 85px;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: content-box;
    font-size: 100%;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 110px;
    background-color: #fff;
    border-color: #F8B18F;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#recherche_form > button[type="submit"] {
    height: 36px;
    width: 36px;
    position: relative;
    top: -2.5px;
    left: 5px;
    background: none;
    color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    transition: color 0.5s, background 0.5s;
}

#recherche_form > button[type="submit"] > i.material-icons {
    position: relative;
    top: 6px;
    left: -2px;
}

#recherche_form > button[type="submit"]:hover {
    background: #FFFFFF;
    color: #333333;
    transition: color 0.5s, background 0.5s;
}

#recherche_form > button[type="submit"]:focus {
    outline: none;
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

#recherche_form {
    margin-left: 15px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
    margin-top: 0px;
}
