#userview_background {
    background: url('ps_neutral.png') repeat scroll;
}

/* CHANGEMENT MENU */
nav a {
    color: #000000 !important;
}

nav li a:hover{
    color: #dd8360 !important;
}

input[type=search] {
    border: solid 1px #999 !important;
}

#recherche_form > button[type="submit"] {
    background: none !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}

#recherche_form > button[type="submit"]:hover {
    background: #ededed !important;
    color: #333333 !important;
}
/* FIN CHANGEMENT MENU */

aside#identite {
    float: left;
    width: 28vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 32px;
}

#h3_images {
    width: 100%;
}

#images_user {
    float: right;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

#avatar {
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    max-width: 230px;
    max-height: 230px;
    margin: 20px auto;
}

.modifier, .supprimer {
    width: 40px;
    border-radius: 50% !important;
    height: 40px;
    padding: 0 !important;
    position: relative;
}

.modifier {
    top: -310px;
    left: -15px;
}

.supprimer {
    top: -270px;
    left: 185px;
}

.modifier > i, .supprimer > i{
        position: relative;
        left: 8px;
}


.small {
	width: 200px !important;
	height: 200px !important;
}

.titre_post_small {
	text-align: center;
	font-size: 18px;
	text-overflow: ellipsis;
	max-width: 215px;
	overflow: hidden;
}

#no_images {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: url('no_images.jpg') no-repeat scroll center;
	width:90%;
	height: 74.9vh;
}

#no_images > h4 {
	color: #FFFFFF;
	background: rgba(0,0,0,0.5);
	padding: 50px 0;
}
